#LaTeX2HTML Version 2k initialization
#
# modified by AHB for white bgrd, abridle address lookup, PK font generation
#
### Command Line Argument Defaults #######################################

$MAX_SPLIT_DEPTH = 5;   # Stop making separate files at this depth

$MAX_LINK_DEPTH = 5;    # Stop showing child nodes at this depth

$TITLE = "Digital Signal Processing";

$DESTDIR = 'docs';         # Put the result in this directory

### Other global variables ###############################################
$CHILDLINE = "<BR> <HR>\n";

# Affects ONLY the way accents are processed
$default_language = 'english';

# want some generated section titles (eg "Table of Contents" or "References")
# to appear in a different language. Currently only "english" and "french"
# is supported but it is very easy to add your own. See the example in the
# file "latex2html.config"
$TITLES_LANGUAGE = "english";

$ADDRESS = "BLA";

sub custom_address {
    "<p><a href=\"https://github.com/berndporr/digital_signal_processing\">github / contact</a></p>" .
    "<P>" .
    "<A REL=\"license\" HREF=\"http://creativecommons.org/licenses/by-sa/4.0/\"><IMG ALT=\"Creative Commons License\" SRC=\"https://i.creativecommons.org/l/by-sa/4.0/80x15.png\" /></A>" .
    "</P>"
}


sub meta_information {
        "<meta name=\"google-site-verification\" content=\"dHOmN66WitxgD2yFMjrDq8aatlUBmj2hBDQL6v7sU30\" />\n" .
        "<META NAME=\"description\" CONTENT=\"Digital Signal Processing\">\n" .
        "<META NAME=\"keywords\" CONTENT=\"DSP, Python, Digital, Signals, Engineering, Computer science\">\n" .
        "<META NAME=\"resource-type\" CONTENT=\"document\">\n" .
        "<META NAME=\"distribution\" CONTENT=\"global\">\n" .
        "<META CHARSET=\"UTF-8\">\n"
}

sub bot_navigation_panel {

    #  Start with a horizontal rule (3-d dividing line)
    "<HR>"

}


1;  # This must be the last line
